.parentbox {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 80px;
}

.photo {
  float: left;
  width: 50%;
  background: #f8f9fa;
}

.photo img {
  width: 100%;
  height: 100%;
}

.description {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.description .info {
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.description .price {
  font-size: 20px;
  font-weight: 500;
}

.description .title {
  margin: 0;
}

.description .cate {
  color: #acaeb2;
}

.description button {
  margin-top: 50px;
  color: #fff;
  font-weight: 500;
  background: #82c91e;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-size: small;
  border-radius: 4px;
  transition: all 0.8s;
}

.description button:hover {
  color: #ffffff;
  background-color: #5c940d;
  transition: all 0.8s;
}

.label {
  font-size: smaller;
  border-radius: 25px;
  color: white;
  padding: 8px;
  margin: 8px;
}

.success {
  background-color: #66a80f;
}

.review-box {
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.review-box h2 {
  margin-top: 50px;
}

.review-box img {
  width: 80px;
  border-radius: 10px;
  background: #b1b1b1;
  float: left;
  margin-right: 16px;
}

.review-box .user p, h3 {
  margin: 0;
}

.review-box .user h3 {
  padding-top: 10px;
  margin-bottom: 8px;
}

.review-box .item {
  width: 80%;
  overflow: hidden;
  margin-bottom: 24px;
}